<div
  #inputSelect
  class="input-select"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  (click)="!isDisabled && alterarExibicaoOpcoes()"
  (keydown)="!isDisabled && onSelectKeydown($event)"
>
  <mat-form-field [style.width.%]="100" appearance="outline">
    <mat-label>{{ titulo }}</mat-label>

    <input
      matInput
      type="text"
      [(ngModel)]="selectedArray"
      (focus)="onTouched && onTouched()"
      [disabled]="isDisabled"
    />

    <mat-icon matSuffix> arrow_drop_down </mat-icon>

    <mat-hint align="end" *ngIf="exibirQuantidade"
      >{{ selected.size }} / {{ items.length }}</mat-hint
    >
  </mat-form-field>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="exibirOverlayOpcoes"
  [cdkConnectedOverlayWidth]="inputSelect.offsetWidth"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayBackdropClass]="'overlay-transparent'"
  [cdkConnectedOverlayPanelClass]="'overlay-container'"
  [cdkConnectedOverlayOffsetY]="-25"
  (backdropClick)="fecharOverlay()"
  (overlayKeydown)="onOverlayKeydown($event)"
>
  <div class="search-form-field">
    <mat-checkbox
      (click)="$event.preventDefault(); changeAll()"
      (keydown.enter)="$event.preventDefault(); changeAll()"
      (keydown.space)="$event.preventDefault(); changeAll()"
      [checked]="completed"
      [indeterminate]="indeterminated"
      [style.margin-left.px]="12"
    ></mat-checkbox>

    <input
      #searchInput
      matInput
      type="search"
      [(ngModel)]="filterValue"
      (keyup)="applyFilter()"
      placeholder="Pesquisar"
    />
    <button
      type="button"
      mat-button
      *ngIf="filterValue"
      mat-icon-button
      aria-label="Clear"
      (click)="clearFilter()"
      [style.margin-right.px]="8"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <cdk-virtual-scroll-viewport
    itemSize="50"
    class="example-viewport"
    [style.height.px]="filteredList.length * 50"
  >
    <div
      *cdkVirtualFor="let item of filteredList"
      class="example-item"
      matRipple
      [style.max-width.px]="inputSelect.offsetWidth"
      [style.background]="selected.has(item.id) ? '#f5f5f5' : 'transparent'"
      (click)="changeSelected(item.id)"
      (keydown.enter)="changeSelected(item.id)"
      (keydown.space)="changeSelected(item.id)"
    >
      <mat-checkbox
        [checked]="selected.has(item.id)"
        (click)="$event.preventDefault()"
        (keydown.enter)="$event.preventDefault()"
        (keydown.space)="$event.preventDefault()"
      >
      </mat-checkbox>
      <span class="label"> {{ item.name }} </span>
    </div>
    <p *ngIf="!filteredList.length" [style.margin-left.px]="12">
      Nenhum resultado encontrado.
    </p>
  </cdk-virtual-scroll-viewport>
</ng-template>
